@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
    string fullName = (string)Context.Session.GetString("FullName");
    string Role= (string)Context.Session.GetString("userRole");

}

@if(Role == "Admin")
{
<section class="container p-3" style="padding-bottom:30px; margin-top: 20px; background-color: #f7f7f7; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div class="card-text text-center p-3 line" style="font-size: 20px; font-weight: 500; text-decoration: underline; color: #333;">Welcome! @fullName</div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
        <!-- LUP START -->
        <a href="#" class="col" style="text-decoration: none; color: #333;">
            <div class="card" style="background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #666; font-size: 16px;">Total Created</h5>
                    <p class="card-text text-center" style="font-size: 36px; font-weight: 900; color: #333;">@Model.TotalCreated</p>
                </div>
            </div>
        </a>

        <a href="#" class="col" style="text-decoration: none; color: #333;">
            <div class="card" style="background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #666; font-size: 16px;">Pending in QC</h5>
                    <p class="card-text text-center" style="font-size: 36px; font-weight: 900; color: #333;">@Model.PendingInQc</p>
                </div>
            </div>
        </a>

        <a href="#" class="col" style="text-decoration: none; color: #333;">
            <div class="card" style="background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #666; font-size: 16px;">Pending in Accounts</h5>
                    <p class="card-text text-center" style="font-size: 36px; font-weight: 900; color: #333;">@Model.PendingInAccounts</p>
                </div>
            </div>
        </a>

        <a href="#" class="col" style="text-decoration: none; color: #333;">
            <div class="card" style="background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #666; font-size: 16px;">Pending in Production</h5>
                    <p class="card-text text-center" style="font-size: 36px; font-weight: 900; color: #333;">@Model.PendingInProduction</p>
                </div>
            </div>
        </a>
    </div>
</section>
}
else{
    <section class="container p-6" style="padding-bottom:30px; margin-top: 20px; ">
        <div class="text-left py-3 pr-3 line" style="font-size: 30px; font-weight: 600; color: #333;"><h1>Welcome, </h1><h4 style="color:#aeaeae">@fullName </h4></div>
            <div class="row">
            <!-- LUP START -->
            <a asp-area="" asp-controller="Dashboard" asp-action="TestBatchList" asp-route-Filter="Pending" class="col" style="text-decoration: none; color: #333;">
                <div class="customshadow border border-danger" style="background-color: #fff; border-radius: 10px; padding: 20px; width: 250px;">
                    <h5 class="text-center" style="color: #666; font-size: 16px;">Pending</h5>
                    <p class="text-center" style="font-size: 36px; font-weight: 900; color: #333;">@Model.PendingCount</p>
                </div>
            </a>

            <a asp-area="" asp-controller="Dashboard" asp-action="TestBatchList" asp-route-Filter="Completed" class="col" style="text-decoration: none; color: #333;">
                <div class="customshadow border border-success" style="background-color: #fff; border-radius: 10px; padding: 20px; width: 250px;">
                    <h5 class="text-center" style="color: #666; font-size: 16px;">Completed</h5>
                    <p class="text-center" style="font-size: 36px; font-weight: 900; color: #333;">@Model.CompletedCount</p>
                </div>
            </a>
        </div>
    </section>
}
<style type="text/css">
.customshadow {
    transition: box-shadow 0.3s ease;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a basic shadow effect */
}

.customshadow:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* increase the shadow effect on hover */
    background-color: #fff;
    border-color: #fff;
}

.customshadow.border-danger {
    border-color: #dc3545;
}

.customshadow.border-success {
    border-color: #28a745;
}

.customshadow:hover .card-title, .customshadow:hover .card-text {
    color: #fff;
}
        </style>
